[submodule ".vim/pack/bundle/start/ultisnips"]
	path = .vim/pack/bundle/start/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule ".vim/pack/bundle/start/vim-surround"]
	path = .vim/pack/bundle/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/pack/bundle/start/bufexplorer"]
	path = .vim/pack/bundle/start/bufexplorer
	url = git@github.com:jlanzarotta/bufexplorer.git
[submodule ".vim/pack/bundle/start/tagbar"]
	path = .vim/pack/bundle/start/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule ".vim/pack/bundle/start/vimtex"]
	path = .vim/pack/bundle/start/vimtex
	url = git@github.com:lervag/vimtex.git
[submodule ".vim/pack/bundle/start/jedi-vim"]
	path = .vim/pack/bundle/start/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
[submodule ".vim/pack/bundle/start/jedi"]
	path = .vim/pack/bundle/start/jedi
	url = git@github.com:davidhalter/jedi.git
[submodule ".vim/pack/bundle/start/parso"]
	path = .vim/pack/bundle/start/parso
	url = git@github.com:davidhalter/parso.git
[submodule ".vim/pack/bundle/start/auto-pairs"]
	path = .vim/pack/bundle/start/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule ".vim/pack/bundle/start/vim-commentary"]
	path = .vim/pack/bundle/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule ".vim/pack/bundle/start/papercolor-theme"]
	path = .vim/pack/bundle/start/papercolor-theme
	url = git@github.com:NLKNguyen/papercolor-theme.git
[submodule ".vim/pack/bundle/start/supertab"]
	path = .vim/pack/bundle/start/supertab
	url = git@github.com:ervandew/supertab.git
[submodule ".vim/pack/bundle/start/ack.vim"]
	path = .vim/pack/bundle/start/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule ".vim/pack/bundle/start/syntastic"]
	path = .vim/pack/bundle/start/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule ".vim/pack/bundle/start/vim-game-code-break"]
	path = .vim/pack/bundle/start/vim-game-code-break
	url = git@github.com:johngrib/vim-game-code-break.git
[submodule ".vim/pack/bundle/start/vim-airline"]
	path = .vim/pack/bundle/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule ".vim/pack/bundle/start/nerdtree"]
	path = .vim/pack/bundle/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/pack/bundle/start/vim-snippets"]
	path = .vim/pack/bundle/start/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule ".vim/pack/bundle/start/ctrlp.vim"]
	path = .vim/pack/bundle/start/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/bundle/start/vim-airline-themes"]
	path = .vim/pack/bundle/start/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule ".vim/pack/bundle/start/clang_complete"]
	path = .vim/pack/bundle/start/clang_complete
	url = git@github.com:Rip-Rip/clang_complete.git
[submodule ".vim/pack/bundle/start/vim-bbye"]
	path = .vim/pack/bundle/start/vim-bbye
	url = git@github.com:moll/vim-bbye.git
[submodule ".vim/pack/bundle/start/vim-fugitive"]
	path = .vim/pack/bundle/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/pack/bundle/start/vim-multiple-cursors"]
	path = .vim/pack/bundle/start/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
