# Emacs
.emacs.d/local.el
.emacs.d/ac-comphist.dat
.emacs.d/tramp
.emacs.d/auto-save-list/
.emacs.d/elpa/

# Vim
.config/nvim/local.vim
.config/nvim/local.plug.vim
.config/nvim/swap/
.config/nvim/plugged/
.config/nvim/spell/

# git
.config/git/ignore
.config/git/local.git

# Zshell
.config/zsh/local.zsh

# jetbrains
jetbrains_settings/*/settings.zip
