# Emacs
.config/emacs/local.el
.config/emacs/ac-comphist.dat
.config/emacs/tramp
.config/emacs/projects
.config/emacs/auto-save-list/
.config/emacs/elpa/
.config/emacs/transient/history.el

# Vim
.config/nvim/local.vim
.config/nvim/local.plug.vim
.config/nvim/swap/
.config/nvim/plugged/
.config/nvim/spell/

# git
.config/git/ignore
.config/git/local.git

# gnupg
.gnupg/crls.d/
.gnupg/private-keys-v1.d/
.gnupg/pubring.kbx
.gnupg/pubring.kbx~
.gnupg/trustdb.gpg

# tmux
.config/tmux/tpm/
.config/tmux/plugins/

# Zshell
.config/zsh/local.zsh

# touchegg
.config/touchegg/.touchegg:*.lock

# iPython
.ipython/profile_default/history.sqlite
.ipython/profile_default/startup/README

# jetbrains
jetbrains_settings/*/settings.zip

# vscode
.config/Code/User/History/
.config/Code/User/globalStorage/
.config/Code/User/workspaceStorage/
