[core]
	editor = vi
[push]
	default = current
[color]
	ui = always
[alias]
	cm = checkout master
	rem = rebase master
	mm = merge master
	stf = status --untracked-files
	df = difftool
	dnc = diff --no-color
	pr = pull --rebase
	this = rev-parse --abbrev-ref HEAD
	unstage = reset HEAD --
	pushit = "!git push -u origin $(git this)"
	track = "!git branch --set-upstream-to=origin/$(git this) $(git this)"
	nuke = "!git reset --hard origin/$(git this)"
	do = "!git diff origin/$(git this)"
	dfo = "!git difftool origin/$(git this)"
	dm = "!git diff $(git merge-base master $(git this))"
	dfm = "!git difftool $(git merge-base master $(git this))"
	da = "!f() { git diff $(git merge-base $1 $(git this)) ${@:2}; }; f"
	dfa = "!f() { git difftool $(git merge-base $1 $(git this)) ${@:2}; }; f"
	destroy = "!f() { git branch -D $1; git push origin --delete $1; }; f"
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lga = log --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lb = "!f() { git branch -vv --no-color | grep --color=never ] | awk '{print substr($0,3);}' | awk '{$2=\"\"; print $0}'| awk -F']' '{print $1}'| awk -F':|\\\\[' '{$2=\"\"; if ($3==\"\") print $0; else print $1,\"\\033[1;31m\"$3\"\\033[0m \";}' && git branch -vv --no-color | grep --color=never -v ] | awk '{print substr($0,3);}' | awk '{print $1,\"\\033[1;31mlocal only\\033[0m \"}'; }; f"
	cg = "!f() { MATCHES=( $(git branch --no-color | cut -c 3- | grep $@) ); case ${#MATCHES[@]} in 0) echo \"No branches matched '$@'\";; 1) git checkout ${MATCHES[0]};; *) echo \"More than one branches matched '$@'\";; esac; }; f"
[diff]
	tool = meld
[merge]
	tool = meld
[fetch]
	prune = true
[include]
	path = ./.gitconfig.local
