snippet pdb "Python debugger"
import pdb; pdb.set_trace()
endsnippet

snippet ipdb "IPython debugger"
import ipdb; ipdb.set_trace()
endsnippet

snippet ecomment "Timing reply"
# time: $1
# response: $2
endsnippet

snippet etime "Timing decorator"
from euler.utils import timed
@timed
endsnippet
